logs
outputs
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
build/
dist/
.eggs/
*.so
.DS_Store
Thumbs.db
*.pt
*.pth
*.onnx
*.zip
*.tar.gz
*.whl
.vscode/
.idea/
*.swp
*.swo
*~
env/
venv/
.venv/

!checkpoints/
!checkpoints/**
